

input {
    height: 39px;
    width: 300px;
    font-size: 16px;
    border-radius: 10px;
    border: solid 1px rgb(183, 183, 183);
    padding-left: 10px;
    font-family: "Inter";
}

.loginGrid {
    display: flex;
    align-items: center;
}

.imgSide {
    background-image: url(login-img.png);
    height: 100vh;
    width: 100vw;
    background-position: center;
}

.textSide {
    width: 100vw;
    height: 100vh;
    padding-left: 150px;
}

@media (max-width: 800px) {
    .imgSide {
        display: none;
    }
    .textSide {
        padding-left: 0;
        text-align: center;
    }
}

.logoSection {
    margin: 100px 0px 120px 0px;
}

.loginText {
    margin-bottom: 40px;
}

.input {
    padding-bottom: 10px;
}

.loginButton {
    font-family: "Inter";
    font-size: 16px;
    color: white;
    background-color: rgb(17, 83, 224);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.loginButton:hover {
    cursor: pointer;
}

.outcome {
    font-family: "Inter";
    width: 320px;
    color: white;
    margin-top: 20px;
}

.errorMsg {
    height: 30px;
    padding-left: 5px;
    align-content: center;
    background-color: rgb(255, 68, 68);
    border-radius: 4px;
}

.successMsg {
    height: 30px;
    padding-left: 5px;
    align-content: center;
    background-color: rgb(0, 200, 80);
    border-radius: 4px;
}