.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (min-width: 0) {
    .layoutContainer {
        width: 300px;
    }
}

@media (min-width: 800px) {
    .layoutContainer {
        width: 700px;
    }
}

@media (min-width: 1200px) {
    .layoutContainer {
        width: 1000px;
    }
}

@media (min-width: 1400px) {
    .layoutContainer {
        width: 1000px;
    }
}