.title {
    margin-bottom: 40px;
}

.buttons {
    margin: 40px 0px 20px 0px;
}

.filter_buttons {
    background-color: white;
    border: solid 1px rgb(183, 183, 183);
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
    height: 30px;
    width: 70px;
}