.image {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 1px darkgray;
    box-sizing: border-box;
}

.vehicleInfo {
    margin: 20px 0;
}

.vehicleRating {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.reserve {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.reserveButton {
    font-family: "Inter";
    font-size: 16px;
    color: white;
    background-color: rgb(17, 83, 224);
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.profileCard {
    margin: 75px 0;
}

.reviewContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

@media (max-width: 800px) {
    .reviewContainer {
        grid-template-columns: auto;
    }
}