.car {
    border: solid 1px rgb(183, 183, 183);
    border-radius: 10px;
    display: flex;
    width: auto;
    flex-direction: column;
}

.car:hover {
    cursor: pointer;
    background-color: #F6F6F6;
    border: solid 1px darkgray;
}

.car_img {
    width: 100%;
    max-height: 175px;
    border-radius: 10px 10px 0px 0px;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1;
}

.car_title {
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
}

.car_details {
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
}

.car_details p {
    margin: 0;
}

.car_details > div {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 10px;
}

.car_price {
    border-bottom: 1px dotted black;
}

.car_rating {
    display: flex;
    align-items: center;
}