.car_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.car {
    border: solid 1px rgb(183, 183, 183);
    flex: 0 0 332px;
    width: 332px;
    height: 290px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.car:hover {
    cursor: pointer;
}

.car_img {
    width: 332px;
    max-height: 200px;
    border-radius: 10px 10px 0px 0px;
}

.car_title {
    font-size: 18px;
    margin: 10px 0px 0px 5px;
}

.car_price {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: underline;
}

.car_distance {
    display: inline-block;
    margin-right: 120px;
}

.car_rating {
    display: inline;
}