p, h3, button {
    font-family: 'Inter';
}

h1 {
    font-family: 'Instrument Sans';
    display: inline;
}

.search_bar {
    display: block;
    margin: 40px 0px 0px 40px;
    width: 619px;
    height: 30px;
    font: 16px;
    font-family: "Inter";
    border: none;
    border-bottom: solid 1px rgb(183, 183, 183);
}

.center_part {
    display: flex;
    justify-content: space-between;
    margin: 60px 200px;
    align-items: center;
}
.buttons {
    display: inline;
}

.filter_buttons {
    background-color: white;
    border: solid 1px rgb(183, 183, 183);
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
    height: 30px;
    width: 70px;
}
