p, h3, button {
    font-family: 'Inter';
}

h1 {
    font-family: 'Instrument Sans';
    display: inline;
}

.search_bar {
    display: block;
    width: 100%;
    height: 30px;
    font: 16px;
    font-family: "Inter";
    border: none;
    border-bottom: solid 1px rgb(183, 183, 183);
}

.center_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: inline;
}

.filter_buttons {
    background-color: white;
    border: solid 1px rgb(183, 183, 183);
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
    height: 30px;
    width: 70px;
}

.car_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section {
    width: 100%;
}

.example {
    background: lightblue;
}