.footer {
    width: 100%;
    padding: 40px 0;
    margin-top: 40px;
    background-color: rgb(236, 236, 236);
}

.footerLayout {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
    padding: 5px 0px;
}

li {
    margin-top: 5px;
}

li:hover {
    cursor: pointer;
    color: rgb(45, 45, 45);
}