.select {
    width: 100%;
    position: relative;
    border-radius: 10px;
}

.button {
    display: flex;
    width: 100%;
    border: 1px solid #B7B7B7;
    background: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.popover {
    background: white;
    border: 1px solid #B7B7B7;
    border-radius: 10px;
    padding: 10px;
}

.searchField {
    width: fit-content;

    input {
        grid-area: input;
        width: 100%;
        padding: 0.286rem 1.714rem 0.286rem 0.286rem;
        margin: 0;
        border: 1px solid var(--border-color);
        border-radius: 6px;
        background: var(--field-background);
        font-size: 1.143rem;
        color: var(--field-text-color);
        outline: none;

        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }

        &::placeholder {
            color: var(--text-color-placeholder);
            opacity: 1;
        }

        &[data-focused] {
            outline: 2px solid var(--focus-ring-color);
            outline-offset: -1px;
        }
    }

    button {
        grid-area: button;
        width: 1.143rem;
        height: 1.143rem;
        border-radius: 1.143rem;
        margin-left: -1.429rem;
        font-size: 0.857rem;
        line-height: 0.857rem;
        vertical-align: middle;
        text-align: center;
        border: none;
        padding: 0;
        background: none;
        cursor: pointer;
    }

    &[data-empty] button {
        display: none;
    }
}

.menu {
    max-height: inherit;
    box-sizing: border-box;
    overflow: auto;
    padding: 2px;
    min-width: 150px;
    box-sizing: border-box;
    outline: none;
}
  
.menuItem {
    margin: 2px;
    padding: 0.286rem 0.571rem;
    border-radius: 6px;
    outline: none;
    cursor: default;
    color: var(--text-color);
    font-size: 1.072rem;
    position: relative;
    display: grid;
    grid-template-areas: "label kbd"
                        "desc  kbd";
    align-items: center;
    column-gap: 20px;
    forced-color-adjust: none;
  
    &[data-focused] {
      background: #1153E0;
      color: white;
    }

    cursor: pointer;
}