.userMenu {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0.5rem;
}

.menuButton {
    padding: 0;
    border-radius: 50%;
    border: solid 1px rgb(183, 183, 183);
    cursor: pointer;
}

.popover {
    overflow: auto;
    padding: 20px;
    border-radius: 10px;
    outline-style: hidden;
    background-color: #ffffff;
    transform-origin: top left;
    border: solid 1px rgb(183, 183, 183);

    &[data-entering] {
        animation: fadeIn 0.3s ease-in-out;
    }
    &[data-exiting] {
        animation: fadeOut 0.3s ease-in-out;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-5px);
    }
}

.separator {
    margin-left: 0.75rem;
    margin-right: 0.75rem; 
    margin-bottom: 0.5rem; 
    margin-top: 1rem; 
    border-style: none; 
    background-color: #D1D5DB; 
    height: 1px;
}

.menu {
    display: flex;
    flex-direction: column;

}

.menuItem {
    align-self: start;
    width: 100%;
    box-sizing: border-box;
    margin: 2px;
    padding: 0.286rem 0.571rem;
    border-radius: 6px;
    outline: none;
    cursor: default;
    color: var(--text-color);
    font-size: 1.072rem;
    position: relative;
    display: grid;
    grid-template-areas: "label kbd"
                        "desc  kbd";
    align-items: center;
    column-gap: 20px;
    forced-color-adjust: none;
  
    &[data-focused] {
      background: #1153E0;
      color: white;
    }

    cursor: pointer;
}