.userMenu {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0.5rem;
}

.menuButton {
    padding: 0;
    border-radius: 50%;
    border: solid 1px rgb(183, 183, 183);
    cursor: pointer;
}

.popover {
    overflow: auto;
    padding: 20px;
    border-radius: 10px;
    outline-style: hidden;
    background-color: #ffffff;
    transform-origin: top left;
    border: solid 1px rgb(183, 183, 183);
}

.separator {
    margin-left: 0.75rem;
    margin-right: 0.75rem; 
    margin-bottom: 0.5rem; 
    margin-top: 1rem; 
    border-style: none; 
    background-color: #D1D5DB; 
    height: 1px;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menuItem {
    align-self: start;
}